
/**
 * Brand color palette.
 */

$brand-colour-01:                   darkblue;
$brand-colour-02:                   green;
$brand-colour-03:                   darkred;
$brand-colour-04:                   gold;

//Generics
$white:                             white;